html, body {
    height: 100%;
    background-image: url(../images/spikes.png);
    font-family: 'Montserrat';
}

.container {
    padding-top: 100px;
    width: 100%;
}

.inner {
    width: 1000px;
    margin: auto;
}

#header {
    background-color: white;
    position: fixed;
    z-index: 100;
}

a:link {
    text-decoration: none;
}

a {
    color: #F0AD4E;
}

#henryJohn {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 50%;
    border: 1px solid #F0AD4E;
    padding: 5px;
  }

#marketing {
    width: 250px;
    height: 200px;
    float: left;
    border-radius: 50%;
    border: 1px solid #F0AD4E;
    padding: 5px;
  }

#emd_nav {
    width: 75px;
    height: 75px;
    border: 1px solid #F0AD4E;
}

#landingSection {
    background: url(../images/emd.svg) no-repeat center center fixed;
}

#landingSection, #servicesSection, #contactSection  {
    background-color: #002f6c;
    color: #ffffff;
    padding: 10px;
    width: 0 auto;
}

#aboutSection, #instagramSection {
    padding: 10px;
}

p {
    font-size: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 48px;
}

h2 {
    font-size: 38px;
    text-align: center;
}

.feed {
    font-size: 22px;
}

.nav-item {
    position: relative;
    left: 500px;
    bottom: -15px;
    padding: 15px;
    color: #002f6c;
    font-size: 22px;
}

.icons {
    display: none !important;
}

.navbar-brand {
    position: relative;
    margin-left: 100px;
    padding: 10px 20px 10px 20px;
}

.responsive {
    width: 100%;
}

.card-footer {
    margin-top: 100px;
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid #F0AD4E;
    background-color: #002f6c;
    color: #ffffff;
}

hr {
    background-color: #F0AD4E;
}

ul {
    font-size: 20px;
}

#clients {
    font-size: 20px;
}

#name, #email, #message {
    width: 700px;
    margin: 5px;
}

#submit {
    background-color:#F0AD4E;
    color: 002f6c;
    margin: 4px 10px;
    padding: 10px 25px;
    font-size: 16px;
}

/*MEDIA QUERIES ==================================================*/

@media (max-width: 1200px) {
    .container {
        width: 1175px;
    }

    #brand {
        margin-left: 50px;
    }

    .nav-item {
        position: relative;
        left: 275px;
    }

    ul {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    #brand {
        margin-left: 100px;
    }

    .nav-item {
       position: relative;
       left: 75px;
       text-align: center;
    }

    ul {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 900px) {

    .container {
        width: 885px;
    }

    #brand {
        margin-left: 95px;
    }

    .nav-item {
       position: relative;
       left: 20px;
       text-align: center;
    }

    ul {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 768px) {

    .container {
        margin-left: 25px;
        width: 760px;
    }

    #brand {
        margin-left: 30px;
    }

    #name, #email, #message {
        max-width: 100%;
        margin: 5px;
    }

    .nav-item {
        position: relative;
        left: 5px;
    }

    #henryJohn {
        max-width: 300px;
    }
}

@media (max-width: 698px) {

    .container {
        width: 690px;
        margin-left: 70px;
    }

    #brand {
        margin-left: 25px;
        width: 690px;
        text-align: center;
    }
}

@media (max-width: 640px) {
    .navbar-brand {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .container {
        margin-top: 50px;
        margin-left: 30px;
    }

    .nav-link {
        margin-top: 3px;
        background-color: #ffffff;
        margin: auto;
        justify-content: center;
    }

    ul {
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 414px) {
    .container {
        width: 395px;
        margin-left: 10px;
    }

    #brand {
        width: 400px;
    }

    .nav-item {
        display: none !important;
    }

    .icons {
        display: inline !important;
        text-align: center;
    }

    .card-footer {
        margin-top: 200px;
    }
}

@media (max-width: 411px) {
    .container {
        width: 390px;
        margin-left: 10px;
        margin-top: 65px;
    }

    header {
        width: 390px;
        position: static;
    }

    .nav-item {
        display: none !important;
    }

    .icons {
        display: inline !important;
        text-align: center;
    }
}

@media (max-width: 375px) {

    .container {
        width: 355px;
    }

    header {
        position: static;
        width: 355px;
    }

    .nav-item {
        display: none !important;
    }

    .icons {
        display: inline !important;
    }

    .card-footer {
        margin-top: 200px;
    }
}

@media (max-width: 360px) {

    .container {
        width: 345px;
    }

    #name, #email, #message {
        max-width: 100%;
        margin: 5px;
    }

    .nav-item {
        display: none !important;
    }

    .icons {
        display: inline !important;
    }

    #brand {
        width: 360px;
    }
}

@media (max-width: 320px) {

    .container {
        width: 300px;
    }

    header {
        position: static;
    }

    #brand {
        width: 320px;
    }

    .nav-item {
        display: none !important;
    }

    .icons {
        display: inline !important;
    }
}